.FilmRow {
  display: flex;
  position: relative;
  flex-direction: row;
/**  height: 180px;  **/
  padding: 0;
  text-align: left;
  margin-bottom: 2px;
  font-size: 12pt;
  background-color: white;
}
.FilmRow .btn_select_film {
  padding: 0;  
}
.FilmRow .btn_select_film img{
  height: 180px;
  max-width: 120px;
  padding: 0;
}
.FilmRow .actions {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
  flex-grow: 1;
}

.FilmRow .film-summary .rating_18x {
  max-width: 64px;
  align-items: flex-start;
  justify-content: flex-start;
  border: none;
 }
 .FilmRow .film-summary .rating_18x:hover {
  transform: scale(2);
 } 
.FilmRow .action {
  display: flex;
  padding: 5px;
  margin: 2px;
  align-items: center;
  justify-content: center;
  font-size: 12pt;
  font-weight: 800;
  background-color: transparent;
  border: 1px solid lightseagreen;
  border-radius: 5px;
}

.FilmRow .action:hover {
  background-color: lightseagreen;
  cursor: pointer;
}

.FilmRow .action:active {
  background-color: rgb(40, 205, 197);
}


.FilmRow .film-summary {
  flex-grow: 1;
  padding: 0.5em 0.5em;
  display: flex;
  flex-direction: column;
}

.FilmRow .film-summary > h3 {
  margin-top: 0.35em;
  margin-bottom: 0.35em;
}

.FilmRow .film-summary > p {
  margin-top: 0;
}
